
<%- include("../partials/header") %>
<%- include("../partials/nav") %>
<%console.log(process.cwd())%>


<header class="masthead">
   <div class="container">
      <div class="masthead-heading text-uppercase">
         Welcome to PhotoTravler Explorations!
      </div>
      <div class="masthead-subheading">
         Share your photagraphy adventures and meet other artists
      </div>

      <a
         class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
         href="/login"
         >Login</a
      >
      <a
         class="btn btn-light btn-xl text-uppercase js-scroll-trigger"
         href="/register"
         >Register</a
      >
   </div>
</header>
<%- include("../partials/footer") %>

<!-- 

//inspiration came from here: https://startbootstrap.github.io/startbootstrap-agency/ -->
