<%- include("../partials/header") %> <%- include("../partials/siteNavbar") %>

<div class="container formWithImg">
   <div class="row">
      <!--.visible-sm-block, hidden-sm -->
      <div class="col-lg-4 img-fluid">
         <div class="d-none d-lg-block">
            <img class="sideImg" src="/images/_DSC0479.jpg" alt="" />
            <p>
               Climber at Green climbers Resort, Laos <em>-- by Marcus Bielus</em>
            </p>
         </div>
      </div>

      <div class="col-md-8 m-auto">
         <div class="card card-body">
            <h1 class="text-center mb-3">
               <i class="fas fa-sign-in-alt"></i> Login
            </h1>
            <%- include('../partials/messages') %>
            <form action="/login" method="POST">
               <div class="form-group">
                  <label for="email">Email</label>
                  <input
                     type="email"
                     id="email"
                     name="email"
                     class="form-control"
                     placeholder="Enter Email"
                  />
               </div>
               <div class="form-group">
                  <label for="password">Password</label>
                  <input
                     type="password"
                     id="password"
                     name="password"
                     class="form-control"
                     placeholder="Enter Password"
                  />
               </div>
               <button type="submit" class="btn btn-primary btn-block">
                  Login
               </button>
            </form>
            <p class="lead mt-4">
               No Account? <a href="/register">Register</a>
            </p>
         </div>
      </div>
   </div>
</div>

<div class="row mt-5"></div>
<%- include("../partials/footer") %>
