<!-- navbar -->
<nav id="profileNav" class="navbar navbar-fixed-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand CompanyBrand" href="/">PhotoAdvetures</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menueItems" aria-controls="menueItems" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menueItems">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Photagraphers <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/">pictures <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Adventures <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/"> <span class="sr-only">(current)</span></a>
      </li>


      <a href="https://www.instagram.com/j_r_ericson/"><li class="nav-item"><i href="#" class="fab fa-instagram"  alt="instagram"></i></a>



</li>

    </ul>





  </div>
</nav>
