<!-- navbar -->
<nav id="profileNav" class="navbar navbar-fixed-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand CompanyBrand" href="/">PhotoAdvetures</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menueItems" aria-controls="menueItems" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menueItems">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/users">Photagraphers</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/photos">Photographs </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/allusers/adventures">Adventures </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/"> </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/photos/maps">Mapped Exploration</a>
      </li>



      <a  class="nav-link"href="/login">Login</a>

      <a class="nav-link" href="/logout">Logout</a>


      
</li>

    </ul>





  </div>
</nav>
