<h1>current Cover photos are</h1>

<p>select from list -- max of 5 </p>


<!-- show list of photo with check mark -->

<!-- show thumnails with checkmark -- generate from api -->

<!-- submit button -- post photos to route -->
