<%- include("headerUser") %> <%- include("../partials/navbar") %>
<!-- style sheet for page -->

<link rel="stylesheet" href="../../styles/searchUsers.css" />





<h1 class="">Browse all users</h1>
<div id="variables" data-page="0"></div>

<label for="profileSearch"> search by profile details</label>
<input
   id="profileSearch"
   type="text"
   placeholder="search by profile"
   data-page="0"
/>
<br>
<label for="userSearch"> search by user name</label>
<input
   id="userSearch"
   type="text"
   placeholder="enter user name"
   data-page="0"
/>
<div id="userInfo"></div>

<!-- <div id="loadMoreButtonHolder"></div> -->
<button id="loadMore" >Load more results</button>



<!-- script for generating user elements in  page after search input is entered-->
<script src="../../scripts/displayUsers.js"></script>

<%- include("footerUser") %>
