
<h1 class="sectionTitle"> <%= contentOwner.name%>'s photo galeries</h1>


<!-- cycle trough all albums  -->
<!--    if photo albm size is zero -- user has not added any photo galleries -->
<!--    thumbnail for each -->
<!--    album name in caption to album -->

<!--    hyperlink to album -->



<!-- upload new album button -->

<!-- add photos to album button -->